/* You can add global styles to this file, and also import other style files */
/* src/styles.css */
:root {
  --obsidian: #0b0e14;
  --dark-card: #161b22;
  --crimson: #dc143c;
  --text-main: #ffffff;
  --text-muted: #8b949e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--obsidian);
  color: var(--text-main);
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
